@charset "UTF-8";
.page {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.no-scroll {
  overflow-y: hidden;
}

.basic {
  flex-grow: 1;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.item {
  list-style-type: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #212121;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
  }
}

.logo > .link {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .logo:hover,
.nav .logo:focus {
  color: #2196f3;
}

.nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav {
    justify-content: space-between;
    height: 60px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: space-between;
    height: 80px;
  }
}

.nav__wrapper {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .nav__wrapper {
    display: none;
  }
}

.nav__list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .nav__item {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__item:first-child {
    padding-left: 93px;
  }
}

.nav__link {
  position: relative;
  display: inline-block;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current.nav__link {
  color: #2196f3;
}

.nav__link--current.nav__link::after {
  content: '';
  position: absolute;
  bottom: -205%;
  left: 0;
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.mobile-menu__btn {
  position: relative;
  z-index: 93;
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: transparent;
  border: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__btn .mobile-menu__icon--open {
  opacity: 1;
}

.mobile-menu__btn .mobile-menu__icon--close {
  opacity: 0;
}

.mobile-menu__btn:hover .mobile-menu__icon,
.mobile-menu__btn:focus .mobile-menu__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__btn.is-active .mobile-menu__icon--open {
  opacity: 0;
}

.mobile-menu__btn.is-active .mobile-menu__icon--close {
  opacity: 1;
  overflow-y: scroll;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  transform: translate(100%);
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .mobile-overlay {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.mobile-overlay.is-open {
  transform: translate(0);
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
}

.mobile-menu__wrapper {
  flex-grow: 1;
}

.mobile-menu__item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__tel-link {
  color: #2196f3;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__meil-link {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.mobile-menu__contact-item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu__social-wrapper {
  margin-top: 64px;
  margin-left: -10px;
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__social-item {
  margin-bottom: 10px;
  margin-left: 10px;
}

.mobile-menu__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-link {
  display: block;
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.header-contacts {
  border-bottom: 1px solid #ececec;
}

.header-contacts .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-contacts__wrapper {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:first-child) {
    margin-left: 30px;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 400px;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/img0_sm.jpg);
  /* Если будет менятся картинка */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/img0_sm@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/img0_md.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/img0_md@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/img0_lg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/img0_lg@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.features__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.work__title, .team__title, .client__title {
  margin-bottom: 60px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .work__title, .team__title, .client__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.work__img, .team__img, .client__title {
  display: block;
  width: 100%;
  height: auto;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.features__box {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__subtitle {
  margin-bottom: 10px;
  font-size: inherit;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  color: #757575;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .work.section {
    display: none;
  }
}

.work.section {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .work.section {
    display: none;
  }
}

.work__list {
  display: flex;
  margin-left: -30px;
}

.work__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  overflow: hidden;
}

.work__img-thumb {
  position: relative;
}

.work__text-thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    align-items: center;
    margin-left: -30px;
  }
}

.team__item {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__img {
    height: 374px;
    width: 354;
  }
}

@media screen and (min-width: 1200px) {
  .team__img {
    height: 260px;
    width: 270px;
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__text {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__social-item:not(:first-child) {
  margin-left: 10px;
}

.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
  fill: currentColor;
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: -15px;
}

.client__item {
  margin: 15px;
}

@media screen {
  .client__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer-contacts {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts > .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts > .container {
    padding-left: 76px;
    padding-right: 89px;
  }
}

.footer-contact__wrapper > .logo {
  padding-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-contact__wrapper {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contact__wrapper {
    margin-bottom: 60px;
  }
}

.footer-contacts .logo:hover,
.footer-contacts .logo:focus {
  color: #2196f3;
}

.address {
  margin-bottom: 9px;
  color: white;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.footer-contacts__item:first-child {
  margin-bottom: 9px;
}

.footer-contacts__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .footer-social__wrapper {
    margin-bottom: 60px;
  }
}

.footer-social__text,
.footer-form__text {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-social__item:not(:first-child) {
  margin-left: 10px;
}

.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196f3;
}

.footer-social__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__wrapper {
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__wrapper {
    margin-left: auto;
    min-width: 570px;
  }
}

.footer-form__email {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__email {
    display: flex;
  }
}

.footer-form__user-email {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .footer-form__user-email {
    width: 358px;
  }
}

.footer-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;
}

@media screen and (max-width: 1199px) {
  .footer-form__btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin-left: 12px;
  }
}

.footer-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 8px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal > .btn {
  margin-bottom: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: fixed;
  top: 1%;
  left: 92%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196f3;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.modal__group {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.modal__group:nth-child(4) {
  margin-bottom: 20px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__label:not(:last-child) {
  margin-bottom: 4px;
}

.modal__label:last-child {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal__label:last-child {
    font-size: 14px;
  }
}

.modal__input,
.modal__comment {
  padding: 11px 12px 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__comment:focus {
  outline-color: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  margin-right: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__comment {
  padding-left: 12px;
  resize: none;
}

.modal__comment::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy {
  position: relative;
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: fixed;
}

.modal__checkbox-icon {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:focus ~ .modal__checkbox-icon {
  fill: #2196f3;
}

.modal__checkbox:checked ~ .modal__checkbox-icon {
  opacity: 0;
}

.modal__icon-check {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.modal__checkbox:checked ~ .modal__icon-check {
  opacity: 1;
}

.modal__policy {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */