.client__title {
    @extend %sectionImage;
}

.client__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    
    margin: -15px;
}

// .client__item:not(:first-child) {
//     margin-left: 30px;
// }
.client__item{
    margin: 15px;
    @media screen {
        width: calc((100% - 2 * 30px) / 2);
    }
    @media screen and (min-width: $tablet) {
        width: calc((100% - 3 * 30px) / 3);
    }
    @media screen and (min-width: $desktop) {
        width: calc((100% - 6 * 30px) / 6);
    }
}

.client__title{
    @extend %sectionTitle
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 170px;
    
    
    height: 92px;
    border: 1px solid $socialLinkColor;
    fill: $socialLinkColor;
    border-radius: 4px;


    @include transition(fill);
    @include transition(border-color);

    &:hover, &:focus{
        fill: $accentColor;
        border-color: $accentColor;
    }
}