.footer-contacts {
    background-color: $heroColor;
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;

    > .container {
        

        @media screen and (min-width: $tablet){
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            justify-content: center;
         }
    } 
    
}

.footer-contact__wrapper{
    >.logo {
        padding-top: 0;
        margin-bottom: 20px;
    
        color: $extraColor;
    
        @include transition(color);
    }
    @media screen and (min-width: $tablet){
        margin-right: 70px;
    }
    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }
   
}
.footer-contact__wrapper, .footer-social__wrapper{
    @media screen and (min-width: $tablet) and (max-width: 1199px){
    flex-basis: calc((100%-2 * 165px) / 2);
    }
    }
    

.footer-contacts .logo:hover,
.footer-contacts .logo:focus {
    color: $accentColor;
}

.address {
    margin-bottom: 9px;

    color: rgba(255, 255, 255, 1);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
}

.footer-contacts__item:first-child {
    margin-bottom: 9px;
}

.footer-contacts__link {
    display: block;

    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;

    @include transition(color);


    &:hover, &:focus {
        color: $accentColor;
    }
}

.footer-social__wrapper {
    @media screen and (max-width:767px){
    margin-bottom: 60px;
    }
}

.footer-social__text,
.footer-form__text {
    text-transform: uppercase;
    color: $extraColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.footer-social__list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-social__item:not(:first-child) {
    margin-left: 10px;
}

.footer-social__link {
    display: flex;

    width: 44px;
    height: 44px;

    justify-content: center;
    align-items: center;

    color: $extraColor;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    @include transition(background-color);


    &:hover, &:focus{
    background-color: $accentColor;
    }
}

.footer-social__icon {
    fill: currentColor;
}

.footer-form__wrapper {
    // margin-left: 93px;

    @media screen and (min-width: $tablet) and (max-width:1199px){
        min-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: $desktop){
    margin-left: auto;
    min-width: 570px;
    }
}

.footer-form__email {
    margin-top: 20px;

    @media screen and (min-width: $desktop){
    display: flex;
    }
}

.footer-form__user-email {
    
    width:100%;
    padding: 15px;

    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    @media screen and (min-width:$desktop){
    width: 358px;
    }
}

.footer-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 29px;

    @media screen and (max-width: 1199px) {
        margin-top: 20px;
    }

    @media screen and (min-width: $desktop){
    margin-left: 12px;
    }
}

.footer-form__icon {
    margin-left: 10px;
    fill: currentColor;
}