.hero {
    display: flex;
    align-items: center;
    
    min-height: 400px;
    max-width: 480px;

    margin: 0 auto;

    padding-left: 30px;
    padding-right: 30px;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/home/img0-mobile.jpg);

    /* Если будет менятся картинка */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: $heroColor;
    // padding-top: 200px;
    // padding-bottom: 200px;
    
    text-align: center;

     @media screen and (min-width:$tablet) {
     max-width: $tablet;
}

    @media screen and (min-width:$desktop){
        height: 600px;
        max-width: 1600;
    }
}

    


.hero__title {
    // width: 696px;
    margin-bottom: 30px;

    color: $extraColor;
    font-weight: 900;
    // font-size: 44px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    // line-height: 1.36;
    line-height: 1.62;
    letter-spacing: 0.06em;
}