.logo {
    display: block;
    padding-top: 24px;

    font-family: $extraFontFamily;
    font-weight: 700;
    font-size: 26px;
    color: $primaryTextColor;
    line-height: 1.19;
    letter-spacing: 0.03em;


    > .link {
        color: $accentColor;

        @include transition(color);
        // transition: color $animationDuration $animationTimingFunction;
    }

    .nav &:hover,
    .nav &:focus {
        color: $accentColor;
    }
}