.nav {
    display: flex;
    align-items: center;

    @media  screen and (max-width: 767px) {
    justify-content: space-between;

    height: 60px;
    width: 100%;
    }
    
    @media screen and (min-width: 768px) {
    
        justify-content: space-between;
    
        height: 80px;
    }
}


.nav__wrapper{
    @media screen and (max-width: 767px){
        display: none;
    }

    margin-left: auto;
}

.nav__list {
    display: flex;
    padding-top: $navGap;
    padding-bottom: $navGap;
}
.nav__item {
    @media screen and(min-width:768px) {
        padding-left: 50px;
        padding-right: 25px;
    }

    &:first-child {
        @media screen and(min-width:1200px) {
            padding-left: 93px;
        }
    }

}

.nav__link {
    position: relative;

    display: inline-block;

    color: $primaryTextColor;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include transition(color);
   

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.nav__link--current.nav__link {
    color: $accentColor;

    &::after {
        content: '';

        position: absolute;
        bottom: -205%;
        left: 0;

        display: block;
        background-color: $accentColor;
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }
}

