.services__title{
    @extend %visuallyHidden;
}

.services__img{
    @extend %sectionImage;
    width: 100%;
}

.services__list {
     margin-left: -15px;


    @media screen and (min-width:$tablet){
    display: flex;
    flex-wrap: wrap;
    // margin-left: -30px;
    margin-top: -30px;

    }
    
    @media screen and (min-width:$tablet){
        margin-left: -30px;}


    >.item {
        margin-top: 30px;

        @media screen and (max-width:767px){
            flex-basis: calc(100% / 1 - 15px);
            margin-left: 15px;
        }

        @media screen and (min-width:$tablet) and(max-width:1199px){
            flex-basis: calc(100% / 2 - 30px);
            margin-left: 30px;
        }
        
         @media screen and (min-width:$desktop){
            flex-basis: calc(100% / 3 - 30px);
            margin-left: 30px;
        }
        
        
    }
}

.services__link {
    display: block;

    @include transition(box-shadow);
   
    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
            0 1px 1px rgba(0, 0, 0, 0.12);
    }
    
}

.services__thumb {
    position: relative;
    overflow: hidden;
}

.services__description {
    width: 322px;
    color: $extraColor;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.services__text-thumb {
    position: absolute;
    top: 100%;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 24px;

    background-color: rgba(33, 150, 243, 0.9);

    @include transition(transform);
  

    .services__link:hover &,
    .services__link:focus & {
        transform: translateY(-100%);
    }
}

.services__box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.services__subtitle {
    margin-bottom: 4px;

    color: $primaryTextColor;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.services__text {
    color: $secondaryTextColor;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
}