.team {
    background-color: #f5f4fa;
}

.team__title{
    @extend %sectionTitle;
}

.team__list {
    @media screen and(min-width:$tablet){
    display: flex;
    flex-wrap: wrap;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px){
       margin: -15px;
    }
    @media screen and(min-width:$desktop) {
        align-items: center;
        margin-left: -30px;
    }
}

.team__item {

    background-color: $extraColor;
    border-radius: 4px;

    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
        0 1px 3px rgba(0, 0, 0, 0.12);

    text-align: center;
    
    &:not(:last-child){margin-bottom: 30px;}
    
    
    @media screen and (min-width:$tablet) and (max-width:1199px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin: 15px;
        overflow: hidden;
        }

    @media screen and (min-width:$desktop){
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    overflow: hidden;
    }
}

.team__img{
    @extend %sectionImage;

    @media screen and (min-width:$tablet)and (max-width:1199px){
    height: 374px;
    width: 354;
    }
    @media screen and (min-width:$desktop) {
        height: 260px;
        width: 270px;
    }
    
}

.team__box {
    padding-top: 30px;
    // padding-bottom: 30px;
    padding-bottom: 24px;
}

.team__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team__text {
    margin-bottom: 16px;

    color: $secondaryTextColor;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team__social-item:not(:first-child) {
    margin-left: 10px;
}

.team__social-link {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: $extraColor;
    border-radius: 50%;

    color: $socialLinkColor;

    @include transition(background-color); 
    @include transition(color);
    }

.team__social-icon {
    fill: currentColor;
}

.team__social-link:hover,
.team__social-link:focus {
    background-color: $accentColor;
    color: $extraColor;
}