%visuallyHidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

%sectionTitle {
    // margin-bottom: 50px;
    margin-bottom: 60px;
    // font-size: 36px;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

%sectionImage{
    display: block;
    width: 100%;
    height: auto;
}

%footerText {
    text-transform: uppercase;
    color: $extraColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
}