$mainFontFamily: 'Roboto', sans-serif;
$extraFontFamily:'Raleway', sans-serif;

$primaryTextColor: #212121;
$secondaryTextColor: #757575;

$accentColor: #2196f3;
$extraColor:#ffffff;
$extraBackgroundColor:#f5f4fa;

$navBorderColor:#ececec;
$heroColor:#2f303a;
$extraButtonColor:#188ce8;
$socialLinkColor: #afb1b8;

$navGap: 32px;
// $animationDuration: 250ms;
// $animationTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
